# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-password

# Upload Configuration
UPLOAD_PORT=3001
UPLOAD_URL=http://localhost:3001